/* Startup Template Personalization */

/*

   Navbar Background Color: #FF6D3F;
   Title Color: #1F2022;
   Paragraph Color: #606369;
   Links Color: #FF6D3F;
   Button Background Color: #FF6D3F;
   Border Color: #E8E9EC;
   Hover Color: #DC5E36;
   Box Shadow Cards: box-shadow: 0px 3px 18px rgba(30, 65, 155, 0.06);
   Box Shadow Search: box-shadow: 0px 5px 9px rgba(19, 71, 149, 0.08);
   Background Image Hero: url('https://i.ibb.co/mGsrXk7/search-icon.png');
   Category Image Example: url('https://i.ibb.co/pX5d6jC/getting-started-background-category.png');
   Icon Link Color: #FF6D3F;
   Article Icon Color: #1F2022;
   Background Blockquote: rgba(92, 157, 255, 0.06);
   Close Button Contact: #FF6D3F;
   Background Quote: rgba(92, 157, 255, 0.06);
   Bold Article Color: #1F2022;
   Error Message Color: #D60000;
   Placeholder Color: #606369;

*/

/* Typography */

/*@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;1,900&display=swap');*/

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100..900&display=swap");

@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 500;
}

/* Variables */

:root {
    /* COLORS */
    --ink-700: #27272a;
    --ink-500: #585861;
    --ink-300: #94949f;
    --ink-200: #d4d4d8;
    --ink-100: #ededee;
    --ink-050: #f4f4f5;

    --green-700: #117c72;
    --green-500: #26a69a;
    --green-300: #61d0c6;
    --green-100: #c5eae6;

    --orange-500: #e56910;

    --cream-300: #eae8e4;
    --cream-200: #faf7f3;
    --cream-100: #fffdfb;

    /* WEIGHTS */
    --normal: 400;
    --medium: 500;
    --bold: 600;

    /* SHADOWS */
    --shadow-025:
        0 0.7px 1px 0 rgba(197, 189, 181, 0.06), 0 1.1px 1.5px -0.4px rgba(197, 189, 181, 0.16),
        0 2.1px 2.9px -0.7px rgba(197, 189, 181, 0.25);
    --shadow-050:
        0 0.7px 1px 0 rgba(197, 189, 181, 0.06), 0 1.6px 2.2px -0.3px rgba(197, 189, 181, 0.2),
        0 2.6px 4px -0.8px rgba(197, 189, 181, 0.28);
    --shadow-100:
        0 0.7px 1px 0 rgba(197, 189, 181, 0.06), 0 2px 2.7px -0.2px rgba(197, 189, 181, 0.14),
        0 2.6px 6px -0.4px rgba(197, 189, 181, 0.22), 0 4px 10px -0.8px rgba(197, 189, 181, 0.3);
}

/* General Style CSS  */

body,
input,
button,
select,
textarea {
    font-family: "Outfit", sans-serif;
    font-weight: var(--normal);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--cream-200);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--bold);
}

strong {
    font-weight: var(--bold);
}

/* Container Width */

.container-fluid {
    max-width: 1234px;
    margin: 0 auto;
    position: relative;
}

/* Navbar */

/* Navbar Logo */

.navbar .brand {
    background: url(/wa-help-center/assets/wa-logo.svg) no-repeat;
    background-size: 70%, auto;
    background-position: 0% 50%;
    max-width: 238px;
    width: 100%;
    padding: 74px 0px 12px 0;
    margin-left: -5px;
    box-shadow: none;
}

.navbar .brand span {
    display: none;
}

.navbar .navbar-inner {
    background: var(--cream-100);
    z-index: 999;
    position: relative;
    box-shadow: none;
}

.navbar .nav li a {
    font-size: 14px;
    line-height: 20px;
    font-weight: var(--medium);
    color: var(--ink-700);
    transition: 0.3s;
    /*text-transform: uppercase;*/
}

.img {
    width: auto;
    height: 100%;
}

.navbar .nav .active .caret {
    display: none;
}

.navbar .brand,
.navbar .nav li a:hover,
.navbar .nav li a:focus,
.navbar .nav .active a,
.navbar .nav .active a:hover,
.navbar .nav .active a:focus {
    color: var(--green-700);
    transition: 0.3s;
}

img[Attributes Style] {
    width: 100%;
    height: 100%;
}

/* Contact Us Button */

#contact a {
    background-color: var(--green-500);
    border-radius: 12px;
    color: #fff !important;
    font-size: 16px;
    line-height: 18px;
    font-weight: var(--bold);
    padding: 16px 20px;
    transition: 0.3s;
    margin-left: 15px;
}

#contact a:hover {
    background-color: var(--green-700);
    color: #fff !important;
    transition: 0.3s;
}

/* Navbar Media Queries */

@media (min-width: 769px) {
    .navbar .nav {
        position: absolute;
        right: 0;
        left: auto;
        bottom: 18px;
        margin-right: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 910px) {
    .navbar .nav li a {
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #contact a {
        font-size: 15px;
        padding: 16px 16px;
        margin-left: 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 860px) {
    .navbar .nav li a {
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #contact a {
        font-size: 14px;
    }
}

/* Media Queries Button Mobile & Submenu */

@media (max-width: 768px) {
    .nav-collapse .nav {
        margin: 15px 0 30px;
    }

    .navbar .brand {
        padding: 75px 0px 0px;
        background-position: 0% 55%;
    }

    .navbar .btn-navbar {
        position: absolute;
        top: 9px;
    }

    .btn-navbar .icon-bar + .icon-bar {
        margin-top: 5px;
    }

    .navbar .btn-navbar .icon-bar {
        background: #1f2022 !important;
        box-shadow: none !important;
        width: 25px !important;
        border-radius: 100px !important;
    }

    .navbar .nav li a {
        padding: 15px 0px;
    }
}

/* Search Section Hero */

/* Hero Background */

#docsSearch {
    border-bottom: 2px solid var(--ink-100);
    padding: 120px 24px 120px;
    background-color: var(--cream-100);
    margin-bottom: 128px;
    /*background-image: url('/wa-help-center/assets/hero.1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;*/
}

#docsSearch h1 {
    font-size: 48px;
    line-height: 64px;
    font-weight: var(--bold);
    color: var(--ink-700);
    max-width: 580px;
    position: relative;
    margin: auto;
    float: none;
}

/* Search Style Hero */

#searchBar {
    max-width: 580px;
    padding: 32px 0;
}

#searchBar .search-query {
    height: 72px;
    background-color: #fff;
    border-radius: 100px;
    border: 1px solid #ebecef;
    padding: 25px 30px;
    box-shadow: var(--shadow-100);
    font-size: 18px;
    line-height: 18px;
    color: #606369;
    transition: 0.3s !important;
}

#searchBar button {
    color: #fff;
    text-shadow: none;
    background: var(--green-500);
    border-radius: 100px;
    border: 0px;
    font-size: 16px;
    /*text-transform: uppercase;*/
    font-weight: var(--bold);
    line-height: 18px;
    padding: 16px 32px;
    height: 50px;
    position: absolute;
    top: 43px;
    right: 15px;
    transition: 0.3s;
}

#searchBar button:hover {
    background-color: var(--green-700);
    transition: 0.3s;
}

::placeholder {
    color: #606369 !important;
}

:-ms-input-placeholder {
    color: #606369 !important;
}

/* Focus Search */

input:focus,
input[type="text"]:focus {
    border: 1px solid var(--ink-100) !important;
    box-shadow: none;
    transition: 0.4s !important;
}

:focus {
    outline: none;
    transition: 0.4s !important;
}

/* Search Results */

#serp-dd .result a {
    padding: 10px 15px;
    font-size: 16px;
    color: #606369;
    transition: 0.3s;
}

#serp-dd .result > li.active {
    background: rgba(255, 109, 63, 0.07);
    color: #606369;
}

#serp-dd .result a:hover {
    background: rgba(255, 109, 63, 0.07);
    color: #606369;
    transition: 0.3s;
}

/* Hero Background Mobile */

/*@media only screen and (min-width: 200px) and (max-width: 500px) {
    #docsSearch {
        background-image: url("https://i.ibb.co/r3cYwTG/mobile-startup-template-background-hero-section.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
    }
}

@media only screen and (min-width: 510px) and (max-width: 1160px) {
    #docsSearch {
        background-image: url("https://i.ibb.co/CtYKfCV/startup-template-background-hero-section-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
    }
}*/

/* Media Queries Mobile Hero */

@media only screen and (min-width: 200px) and (max-width: 500px) {
    #docsSearch {
        padding: 80px 24px 80px;
    }

    #docsSearch h1 {
        font-size: 46px;
        line-height: 55px;
    }
    #searchBar button span {
        display: none;
    }

    #searchBar {
        width: 100%;
    }

    #searchBar .search-query {
        padding: 25px 24px;
        background-image: none;
    }

    #searchBar button .icon-search {
        display: block;
        color: #fff;
    }

    .icon-search:before {
        position: relative;
        bottom: 2px;
    }
}

/* Collection Title Hover & Focus */

.collection-category h2 a:hover {
    border-bottom: 0px;
}

a:focus {
    outline: none;
    text-decoration: none;
}

/* Categories Text Style*/

.collection-category h2 {
    font-size: 30px;
    line-height: 36px;
    color: #1f2022;
    font-weight: var(--bold);
    text-align: center;
    margin: 0 0 40px;
}

.collection-category h2 a {
    font-size: 30px;
    line-height: 36px;
    color: #1f2022;
    font-weight: var(--bold);
}

h2 {
    font-size: 36px;
    line-height: 36px;
    color: #1f2022;
    font-weight: var(--bold);
}

.category-list h3 {
    color: #1f2022;
    font-size: 24px;
    line-height: 30px;
    font-weight: var(--bold);
}

.category-list .category p {
    font-size: 18px;
    line-height: 28px;
    color: #606369;
}

.category-list .category {
    color: var(--green-500);
    font-size: 20px;
    line-height: 22px;
    transition: 0.3s;
    /*text-transform: uppercase;*/
    margin-top: 30px;
}

.article-count {
    color: var(--green-500);
    font-size: 0.875rem;
    line-height: 1.2rem;
    transition: 0.3s;
    margin-top: 4px;
}

/* Category Thumbnails */

/*  #category- {background-image: url("");}  */

/***** GETTING STARTED *****/

/*Introduction*/
#category-128 {
    background-image: url("https://raw.githubusercontent.com/TNB3000/wa-help-center/refs/heads/main/assets/getting-started.intro.svg");
}
/*Account Admins*/
#category-131 {
    background-image: url("https://raw.githubusercontent.com/TNB3000/wa-help-center/refs/heads/main/assets/getting-started.admins.svg");
}
/*Account Members*/
#category-130 {
    background-image: url("https://raw.githubusercontent.com/TNB3000/wa-help-center/refs/heads/main/assets/getting-started.members.svg");
}

/***** PRODUDCT *****/

/* HQ */
#category-134 {
    background-image: url("https://raw.githubusercontent.com/TNB3000/wa-help-center/refs/heads/main/assets/product.hq.svg");
}

/*Directory*/
#category-24 {
    background-image: url("https://raw.githubusercontent.com/TNB3000/wa-help-center/refs/heads/main/assets/product.directory.svg");
}

/* Custom Lists */
#category-59 {
    background-image: url("https://raw.githubusercontent.com/TNB3000/wa-help-center/refs/heads/main/assets/product.lists.svg");
}

/*Events*/
#category-23 {
    background-image: url("https://raw.githubusercontent.com/TNB3000/wa-help-center/refs/heads/main/assets/product.events.svg");
}

/* Widgets */
#category-58 {
    background-image: url("https://raw.githubusercontent.com/TNB3000/wa-help-center/refs/heads/main/assets/product.widgets.svg");
}

/***** DEVELOPER DOCS *****/

/* Set Up */
#category-114 {
    background-image: url("https://raw.githubusercontent.com/TNB3000/wa-help-center/refs/heads/main/assets/dev.intro.svg");
}

/* Widgets */
#category-113 {
    background-image: url("https://raw.githubusercontent.com/TNB3000/wa-help-center/refs/heads/main/assets/dev.widgets.svg");
}

/* Site integration */
#category-138 {
    background-image: url("https://raw.githubusercontent.com/TNB3000/wa-help-center/refs/heads/main/assets/dev.sites.svg");
}

/* Categories Card Style */

.category-list .category {
    text-align: center;
    display: inline-block;
    border: 1px solid #e8e9ec;
    border-radius: 24px;
    box-shadow: 0px 3px 8px rgba(88, 88, 88, 0.03);
    margin: 0 0.8% 20px;
    padding: 200px 50px 50px;
    transition: all 0.25s ease-in-out;
    background-repeat: no-repeat;
    background-position: center 36px;
    background-size: 80px 80px;
    max-width: 74%;
    width: 100%;
    background-color: #fff;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 37px;
    margin-top: 32px;
}

#collection-category-33 {
    margin-top: 100px;
}

@media screen and (min-width: 1105px) {
    .category-list .category {
        max-width: 74%;
        width: 100%;
    }
}

.category-list .category,
.category-list .category {
    background-size: 130px;
}

.category-list .category,
.category-list .category:hover {
    background-repeat: no-repeat;
    background-position: center 60px;
    background-size: 120px;
}

.category-list .category:hover {
    background-color: #fff;
    box-shadow: 0px 3px 13px rgba(88, 88, 88, 0.11);
    transition: 0.3s;
}

.category-list .category:hover .article-count {
    color: var(--green-700);
    transition: 0.3s;
}

/* Media Queries Section Cards */

@media only screen and (min-width: 200px) and (max-width: 1300px) {
    .category-list .category {
        max-width: 80%;
    }
}

@media only screen and (min-width: 200px) and (max-width: 1170px) {
    .category-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .category-list .category {
        max-width: 79%;
    }
}

@media only screen and (min-width: 200px) and (max-width: 940px) {
    .category-list .category {
        max-width: 70%;
    }
}

@media only screen and (min-width: 200px) and (max-width: 760px) {
    .category-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .category-list .category {
        max-width: 84%;
    }
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
    .category-list .category {
        max-width: 98%;
    }
}

/* Footer */

footer {
    padding: 30px 0px;
    border-top: 1px solid #e8e9ec;
    margin-top: 83px;
}

/* Footer Text Style */

footer p {
    margin: 0px;
    font-size: 0.875rem;
    line-height: 1.2rem;
    color: var(--ink-300);
    text-align: center;
}

footer p a {
    color: #606369;
    transition: 0.3s;
}

footer p a:hover {
    color: #ff6d3f;
    transition: 0.3s;
}

/* Interior Page Categories */

/* Search Bar & Sidebar CSS */

#searchBar.sm button .icon-search {
    display: none;
}

#sidebar form .search-query {
    border: 1px solid #e8e9ec;
    background: #ffffff;
    box-shadow:
        0px 3px 7px rgba(0, 0, 0, 0.01),
        0px 5px 17px rgba(255, 88, 35, 0.04);
    border-radius: 100px;
    font-size: 18px;
    line-height: 18px;
    color: #606369;
    padding: 0px 25px 0px 25px;
    height: 56px;
    background-image: url(https://i.ibb.co/88ZSSqg/icon-search-minimal-template.png);
    background-position: 91% 44%;
    background-repeat: no-repeat;
    background-size: 24px;
}

#sidebar .nav-list {
    margin-top: 23px;
    margin-bottom: 0px;
}

/* Sidebar Text Style */

#sidebar h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: var(--bold);
    color: var(--ink-700);
    text-transform: capitalize;
}

#sidebar .nav-list li {
    margin: 0;
}

#sidebar .nav-list .active a {
    color: var(--ink-700);
    font-weight: var(--bold);
    font-size: 1rem;
    line-height: 1rem;
    padding: 12px;
    border-left: 3px solid var(--ink-700);
}

#sidebar .nav-list a {
    font-size: 1rem;
    line-height: 1rem;
    color: var(--ink-300);
    padding: 12px;
    border-left: 3px solid var(--ink-100);
    transition: 0.3s;
}

#sidebar .nav-list a:hover {
    color: var(--green-700);
    transition: 0.3s;
}

#sidebar form .search-query:focus {
    border: 1px solid #ff6d3f;
    border-radius: 100px !important;
    transition: 0.3s !important;
    box-shadow:
        0px 3px 7px rgba(0, 0, 0, 0.01),
        0px 5px 17px rgba(255, 88, 35, 0.04);
}

/* Icon Arrow Sidebar */

[class^="icon-"] {
    color: #1f2022;
    font-size: 20px;
    line-height: 22px;
}

#sidebar .nav-list .active a .icon-arrow,
#sidebar .nav-list .active a:hover .icon-arrow,
#sidebar .nav-list .active a:focus .icon-arrow {
    color: var(--ink-700) !important;
    display: none;
}

.icon-arrow:before {
    color: var(--ink-700);
}

/* Right Content */

.contentWrapper {
    background: var(--cream-100);
    border-radius: 12px;
    box-shadow: 0px 3px 8px rgba(88, 88, 88, 0.03);
    padding: 50px 60px 72px;
}

#main-content {
    background: none;
}

/* Right Sidebar Text Style */

.contentWrapper h1 {
    font-size: 24px;
    line-height: 50px;
    font-weight: var(--bold);
    color: var(--ink-700);
    margin-bottom: 24px;
}

#categoryHead h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: var(--bold);
    color: var(--ink-700);
}

.articleList {
    border-top: 2px solid var(--ink-100);
}

.articleList li {
    font-size: 18px;
    line-height: 28px;
    color: #606369;
    padding: 16px;
    /*background: var(--cream-200);*/
    margin: 0;
    border-radius: 0px;
    border-bottom: 2px solid var(--ink-100);
}

.articleList a {
    margin: 0;
}

.contentWrapper a {
    color: var(--ink-500);
    font-weight: 500;
}

.icon-article-doc:before {
    /*display: none;*/
    color: var(--ink-500);
}

.articleList a span {
    transition: 0.3s;
}

.articleList a span:hover {
    text-decoration: none;
    color: var(--ink-500);
    transition: 0.3s;
}

.contentWrapper a:hover {
    color: var(--ink-500);
    transition: 0.3s;
}

/* Search Resaults */

#serp-dd.sb {
    border: 1px solid #e8e9ec;
    border-radius: 8px;
    top: 60px;
    box-shadow: 0px 3px 8px rgba(88, 88, 88, 0.03);
    font-size: 16px;
    line-height: 18px;
    color: #606369;
}

#serp-dd {
    border: 1px solid #e8e9ec;
    border-radius: 8px;
    top: 80%;
    box-shadow: 0px 3px 8px rgba(88, 88, 88, 0.03);
    font-size: 16px;
    line-height: 18px;
    color: #606369;
}

/* Select */

#categoryHead .sort select {
    width: 160px;
    height: 35px;
    margin: 0;
    line-height: 24px;
    font-size: 13px;
    color: #606369;
}

select {
    border: 1px solid #e8e9ec;
    box-shadow: 0px 5px 12px rgba(19, 71, 149, 0.03);
}

@media (max-width: 768px) {
    #categoryHead .sort {
        display: none;
    }
}

/* Media Queries Sidebar */

@media (max-width: 768px) {
    #main-content {
        margin: 40px 0px 2em 0px;
    }

    #searchBar {
        max-width: 100%;
    }

    #categoryHead .sort {
        top: -52px;
    }
    #sidebar form {
        position: relative;
        margin: 40px 0 40px;
    }

    #sidebar form .search-query {
        background-position: 93% 44%;
    }
}

/* Article Page */

#fullArticle {
    max-width: 100%;
    margin: auto;
    position: relative;
}

/* Article Button Edit */

#fullArticle .admin-edit {
    color: var(--orange-500);
    display: inline-block;
    margin-bottom: 24px;
    background-image: none;
    background-color: none;
    text-shadow: none;
    border: none;
    border-radius: 0px;
    padding: 0px;
    font-size: 0.875rem;
    line-height: 1.2rempx;
    font-weight: var(--bold);
    transition: 0.3s;
}

#fullArticle .admin-edit:hover {
    color: var(--orange-500);
    transition: 0.3s;
}

/* Text Style Article */

#fullArticle h1,
#fullArticle h2,
#fullArticle h3,
#fullArticle h4,
#fullArticle h5 {
    color: var(--ink-700);
}

#fullArticle .title {
    font-size: 40px;
    line-height: 50px;
    font-weight: var(--bold);
}

#fullArticle h2 {
    font-size: 32px;
    line-height: 48px;
    font-weight: var(--bold);
}

#fullArticle,
#fullArticle p,
#fullArticle ul,
#fullArticle ol,
#fullArticle li,
#fullArticle div,
#fullArticle blockquote,
#fullArticle dd,
#fullArticle table {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--ink-500);
}

#fullArticle strong {
    color: var(--ink-700);
}

.contentWrapper a {
    color: var(--ink-500);
    transition: 0.3s;
}

.contentWrapper p.descrip {
    font-size: 18px;
    margin-top: 25px;
    color: #606369;
}

.contentWrapper a:hover {
    text-decoration: none;
    color: var(--green-700);
    transition: 0.3s;
}

#fullArticle blockquote {
    font-style: normal;
    border-left-color: var(--green-500);
    border-width: 10px;
    padding: 20px 24px;
    background: #c5eae680;
    border-radius: 8px;
}

pre {
    padding: 24px;
}

#fullArticle pre,
#fullArticle code {
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.875rem;
    font-weight: 450;
    line-height: 1.3rem;
    background-color: var(--cream-300);
    color: var(--ink-500);
}

#fullArticle pre {
    padding: 24px;
    border: 1px solid var(--ink-200);
}

#fullArticle code {
    border: none;
}

.articleFoot p,
.articleFoot time {
    font-family: "Outfit", sans-serif;
    font-style: normal;
    color: var(--ink-500);
    font-size: 0.875rem;
}

#sbContact {
    color: var(--green-500);
    border: none;
    transition: 0.3s;
}

#sbContact:hover {
    color: var(--green-700);
    transition: 0.3s;
}

#fullArticle .printArticle {
    position: absolute;
    right: -2%;
    top: -1%;
    transition: 0.3s;
}

.icon-print {
    transition: 0.3s;
}

#fullArticle .printArticle:hover .icon-print {
    color: var(--green-500);
    transition: 0.3s;
}

em {
    color: #1f2022;
}

/* Media Queries Icon */

@media (min-width: 200px) and (max-width: 1220px) {
    #fullArticle .printArticle {
        right: -7%;
    }
}

@media (min-width: 200px) and (max-width: 1150px) {
    #fullArticle .printArticle {
        right: 20px !important;
    }
}

@media (max-width: 768px) {
    .contentWrapper {
        padding: 50px 28px 72px;
    }

    .related {
        border-radius: 12px !important;
        padding: 72px 28px !important;
    }

    .related h3 {
        padding-left: 0px !important;
    }
    .related ul {
        margin-left: 25px !important;
    }
}

/* Article Image */

#fullArticle img {
    border: none;
    border-radius: 24px;
    padding: 0px;
}

#fullArticle {
    max-width: 100%;
}

/* Media Queries */

@media (max-width: 768px) {
    #fullArticle .printArticle {
        right: -14px;
        top: -18px;
    }

    #fullArticle .title {
        font-size: 34px;
        line-height: 40px;
    }

    #fullArticle h2 {
        font-size: 26px;
        line-height: 32px;
    }

    .articleFoot time.lu {
        float: left;
    }

    .contentWrapper.withRelated {
        min-height: 205px;
        padding-bottom: 80px;
    }
}

/* Related Articles */
.related {
    background: #fff;
    border-radius: 24px;
    border: 1px solid #e8e9ec;
    box-shadow: 0px 3px 8px rgba(88, 88, 88, 0.03);
    padding: 72px 36px;
    margin-top: 40px;
}

/* Related Text */

.related h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: var(--bold);
    color: var(--ink-700);
    text-transform: capitalize;
}

.related ul > li {
    font-size: 18px;
    line-height: 28px;
    color: var(--green-500);
    transition: 0.3s;
}

.related ul > li a {
    color: var(--green-500);
    transition: 0.3s;
    font-size: 18px;
    line-height: 18px;
}

.related ul > li a:hover span {
    text-decoration: none;
}
.related a:hover {
    color: var(--green-700);
    transition: 0.3s;
}

/* Contact PopUp */

#contactModal,
.abuse {
    border: 1px solid #e8e9ec;
    box-shadow: 0px 3px 18px rgba(30, 65, 155, 0.06);
    border-radius: 24px;
    top: 6%;
}

.modal-body {
    padding: 0px 50px 60px;
    min-height: 630px;
}

#contactModal .control-label {
    width: 100%;
    float: left;
    text-align: left;
}

#contactModal .controls {
    margin-left: 0px;
}

#contactModal .form-actions {
    padding-left: 0px;
}

#contactModal #md-message {
    width: 100%;
    padding-top: 10px;
    height: 70px;
}

.form-actions:before,
.form-actions:after {
    display: none;
}

/* Contact PopUp Text */

#contactModal h2,
.abuse h2 {
    padding: 50px 0 15px 50px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom: none;
    font-size: 36px;
    line-height: 36px;
    font-weight: var(--bold);
    color: #1f2022;
}

.form-horizontal .control-label {
    font-size: 18px;
    line-height: 28px;
    color: #606369;
}

input[type="text"] {
    border-radius: 6px;
    border: 1px solid #cad8e3;
    box-shadow: none;
    background-color: #fff;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    color: #606369;
    padding: 4px 12px;
    width: 95%;
}

#contactModal input[type="file"] {
    height: 25px;
    padding: 18px 12px;
}

.form-horizontal textarea {
    border-radius: 12px;
    border: 1px solid #cad8e3;
    box-shadow: none;
    background-color: #fff;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    color: #606369;
    padding: 4px 12px;
    width: 95%;
}

.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
    border-radius: 12px;
    border: 1px solid #ebecef;
    box-shadow: none;
    background-color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 16px;
    color: #606369;
    padding: 4px 12px;
    width: 81%;
    width: 95%;
}

#contactModal input[type="submit"].btn {
    border-radius: 100px;
    background-color: #ff6d3f;
    font-size: 18px;
    line-height: 18px;
    border: none;
    background-image: none;
    width: 100%;
    height: 50px;
    text-shadow: none;
    color: #fff;
    font-weight: var(--bold);
    margin-top: 15px;
    transition: 0.3s;
}

#contactModal input[type="submit"].btn:hover {
    background-color: #dc5e36;
    transition: 0.3s;
}

/* Form Mobile Contact Us */

.modal {
    width: 650px;
}

@media (max-width: 768px) {
    button.btn,
    input[type="submit"].btn {
        border-radius: 11px;
        background-color: #ff6d3f;
        font-size: 18px;
        line-height: 18px;
        border: none;
        background-image: none;
        width: 100%;
        height: 50px;
        text-shadow: none;
        color: #fff;
        font-weight: 600;
        margin-top: 15px;
        transition: 0.3s;
    }

    button.btn,
    input[type="submit"].btn:hover {
        background-color: #dc5e36;
        transition: 0.3s;
    }

    label {
        padding: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom: none;
        font-size: 18px;
        line-height: 36px;
        font-weight: var(--bold);
        color: #1f2022;
    }

    #contactForm #name,
    #contactForm #email,
    #contactForm #subject {
        border-radius: 12px;
        border: 1px solid #ebecef;
        box-shadow: none;
        background-color: #fff;
        font-size: 14px;
        height: 40px;
        line-height: 16px;
        color: #606369;
        padding: 4px 12px;
        width: 81%;
        width: 95%;
    }

    #contactForm #message {
        border-radius: 12px;
        border: 1px solid #ebecef;
        box-shadow: none;
        background-color: #fff;
        font-size: 14px;
        line-height: 16px;
        color: #606369;
        padding: 4px 12px;
        width: 95%;
    }

    #contactForm #message:focus {
        border: 1px solid #ff6d3f;
    }

    #contactForm input[type="file"] {
        border: 1px solid #ebecef;
    }

    #contactForm #message {
        border-radius: 6px;
        border: 1px solid #cad8e3;
        box-shadow: none;
        background-color: #fff;
        font-size: 14px;
        line-height: 16px;
        color: #606369;
        padding: 4px 12px;
        width: 95%;
    }

    #contactForm input[type="file"] {
        height: 25px;
        padding: 18px 12px;
        border-radius: 6px;
        border: 1px solid #cad8e3;
        box-shadow: none;
        background-color: #fff;
        width: 95%;
    }
}

/* Focus Form */

textarea:focus,
input:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    box-shadow: none;
}

textarea:focus {
    border: 1px solid #ff6d3f;
}

/* Close Buttton */

.icon-close:before,
.featherlight-close-icon:before {
    display: none;
}

.modal #closeBtn:hover .icon-close:before {
    color: #dc5e36;
    transition: 0.3s;
}

.modal #closeBtn {
    top: 30px;
    right: 30px;
}

#contactModal .icon-close {
    background-image: url(https://d2x2losda9vsjs.cloudfront.net/docs/assets/2019/icon--cross.svg);
    width: 24px;
    height: 24px;
    background-size: cover;
    display: inline-block;
    opacity: 0.7;
    transition: opacity 0.2s;
    position: relative;
    right: 50%;
}

#contactModal .icon-close:hover {
    opacity: 1;
}

/* Error Message Form */

#contactModal .parsley-errors-list {
    font-size: 16px;
    margin-top: 16px;
    color: #d50102;
}

#contactModal .parsley-error:not([type="file"]),
#contactForm .parsley-error:not([type="file"]),
.abuse .parsley-error:not([type="file"]) {
    border: 1px solid #d50102;
}

/* Media Queries */

@media (max-width: 768px) {
    .modal-body {
        min-height: 730px;
    }
}

.category-list.two-col .category {
    width: 100%;
}
